@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $backgroundColor;
  color: $textColor;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
